
deny unknown-clients;

subnet ${NETWORK} netmask ${NETMASK} {              # Network and netmask for this subnet
    option routers ${ROUTER_IP};                    # Router/default gateway IP
    option domain-name-servers ${DNS_IP};           # DNS server IP
    next-server ${PXE_SERVER_IP};                   # IP address of the PXE server
    filename "/bootx64.efi";
    include "${DHCP_DIR}/reservations.conf";
}
